.home-card {
    background-color: #FFF;
    min-width: 50px;
    min-height: 50px;
    border-radius: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 3px 3px 20px -10px rgba(13, 17, 33, .25), 0 1px 8px 0 rgba(27, 36, 72, .16);
}

.home-card img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    object-fit: contain;
}

.home-card:hover {
    background-color: #FFF;
    box-shadow: 3px 3px 20px -10px rgba(13, 17, 33, .25), 0 1px 2px 0 rgba(27, 36, 72, .16);
}

.home-card:hover img {
    filter: grayscale(0%);
}

.home-background-animation {
    overflow: hidden;
    max-height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.home-background-container {
    position: relative;
}

.home-background-text {
    position: absolute;
    top: 5%;
}

.gradient-text {
    background: -webkit-linear-gradient(
        45deg
        , #4c45dd -80%, #00ff95 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.gradient-name {
    font-size: 2.5rem;
    font-weight: 900;
    background: -webkit-linear-gradient(
        45deg
        , #2cc4d8 -80%, #8179d8 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.page-section {
    min-height: 580px;
    height: 100vh;
}